.content {
    flex: 1 1 0;
}

.content__header {
    align-items: center;
    background: $content-header-bg;
    box-shadow: 0 0 46px $content-header-shadow-color;
    display: flex;
    height: 75px;
    padding: 0 20px;
    position: relative;
}

.content__header--toggler {
    margin-right: 15px;
    transition: $base-transition;

    .bi {
        font-size: 1.5rem;
    }
}

.content__header--user {
    margin-left: auto;

    .dropdown-toggle {
        display: block;
        height: 44px;
        width: 44px;

        &:after {
            display: none;
        }
    }
    .dropdown-menu {
        border: none;
        box-shadow: 0 0 23px $content-header-shadow-color;

        &:after {
            border-bottom: 8px solid $dropdown-bg;
            border-left: 9px solid rgba($black, 0);
            border-right: 9px solid rgba($black, 0);
            content: '';
            display: inline-block;
            position: absolute;
            right: .9rem;
            top: -7px;
        }
    }
    .dropdown-item {
        font-weight: 500;
    }
}

.content__main {
    height: calc(100vh - 75px);
    max-width: 100vw;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@include media-breakpoint-up(md) {
    .content__header--toggler {
        display: none;
    }
}
