// Custom

$base-transition: ease .2s;
$dark-color: #192836;

$sidebar-backdrop-bg: rgba(#000, .5);
$sidebar-bg: $dark-color;
$sidebar-color: #b4c9de;
$sidebar-content-color: #b4c9de;
$sidebar-content-hover-bg: #1d2f40;
$sidebar-footer-bg: #1d2f40;
$sidebar-header-bg: #15222e;

$content-header-bg: #192836;
$content-header-shadow-color: rgba(#7791f8, .08);

// Bootstrap

$primary: #00bcd4;
$success: #45b854;
$warning: #f7bf47;
$danger: #e66c56;

$body-bg: #121c26;
$body-color: #b4c9de;
$border-color: #283643;
$font-family-sans-serif: 'Sarabun', sans-serif;
$text-muted: #74818f;

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

$btn-padding-x: 2rem;

$card-bg: #192836;
$card-border-color: rgba(0, 0, 0, 0);
$card-cap-bg: rgba(0, 0, 0, 0);
$card-cap-color: #eff8ff;
$card-spacer-x: 1.875rem;
$card-spacer-y: 1.875rem;

$input-bg: #192836;
$input-disabled-bg: #253340;
$input-border-color: $border-color;
$input-color: rgba($body-color, .7);
$input-placeholder-color: rgba($body-color, .3);

$dropdown-link-color: $dark-color;

$tooltip-bg: #192836;
$tooltip-opacity: 1;

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: rgba(0, 0, 0, 0);
$breadcrumb-divider-color: #375e74;
$breadcrumb-active-color: $body-color;
$breadcrumb-border-radius: 0;

$toast-background-color: rgba(#56e6a7, .1);
$toast-border-width: 3px;
$toast-border-color: #56e6a7;
