.call__history {
    padding: 20px 20px 0;
}

.call__history--card {
    margin-bottom: 20px;

    .btn-link {
        padding: 0;
    }
    pre {
        margin-bottom: 0;
        margin-top: $card-spacer-y;
    }
}
