.card-header,
.card-body {
    > .bi,
    > span .bi {
        margin-right: 12px;
    }
}

.card-header {
    align-items: center;
    display: flex;
    font-size: 1.125rem;
    padding-bottom: 0;

    > .spinner-border {
        margin-right: 12px;
    }
    a {
        align-items: center;
        display: flex;
        transition: $base-transition;
        text-decoration: none;
    }
    .gravatar {
        margin-right: 12px;
        height: 48px;
        width: 48px;
    }
}

.card-footer {
    padding-top: 0;
}
