.form-control-label,
.col-form-label {
    font-weight: 500;

    &.required:after {
        color: $primary;
        content: ' *';
    }
}

.form-text a {
    text-decoration: none;
    transition: $base-transition;
}

.form__secondary {
    margin-top: 20px;
}
