.layout__index,
.layout__form {
    padding: 20px;
}

.layout__index {
    padding-bottom: 0;
}

.layout__row {
    margin-left: -10px;
    margin-right: -10px;
}

.layout__col {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

    > .card {
        height: 100%;
    }
}
