.toast {
    border-left: none;
    border-right: none;
    border-top: none;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: $zindex-tooltip;

    .bi {
        color: $toast-border-color;
        margin-right: 12px;
    }
}
