.user__index,
.user__form {
    padding: 20px;
}

.user__index {
    padding-bottom: 0;
}

.user__row {
    margin-left: -10px;
    margin-right: -10px;
}

.user__col {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
