@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    Sarabun, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility link {
  @apply text-cyan-500 hover:text-cyan-600;
}

@utility form-input {
    @apply border-gray-100 text-slate-600 placeholder-gray-400 rounded-xs focus:border-cyan-500 focus:ring-cyan-500 dark:bg-slate-800 dark:border-transparent dark:text-slate-300;
}

@utility form-select {
    @apply border-gray-100 text-slate-600 rounded-xs focus:border-cyan-500 focus:ring-cyan-500 dark:bg-slate-800 dark:border-transparent dark:text-slate-300;
}

@utility form-invalid {
  @apply border-red-500 focus:border-red-500 focus:ring-red-500;
}

@utility form-checkbox {
  @apply text-cyan-500 focus:border-cyan-500 focus:ring-cyan-500;
}

@utility btn {
  @apply bg-cyan-500 text-white py-2 px-6 rounded-xs hover:bg-cyan-600;
}

@utility btn-red {
  @apply bg-red-500 text-white py-2 px-6 rounded-xs hover:bg-red-600;
}

@layer base {
    body {
        @apply bg-slate-100 text-slate-600 dark:text-slate-400 dark:bg-slate-900;
    }

    .sidebar {
        height: calc(100vh - 10rem);
    }

    .content {
        height: calc(100vh - 5rem);
    }
}
